@import "header.scss";
@import "footer.scss";
@import "variables.scss";
@import "mixin.scss";
@import "titleSection.scss";
@import "product.scss";
@import "pagenation.scss";
@import "search.scss";

.activePage {
  color: $orange !important;
}

#products {
  padding-bottom: 100px;
  .container-fluid {
    .row {
      .col-lg-9 {
        .product-filter {
          display: flex;
          justify-content: space-between;
          margin-bottom: 50px;
          span {
            font-size: 17px;
            letter-spacing: 1px;
            font-family: $popinsFont;
            padding-left: 40px;
          }
          select {
            padding: 12px 20px;
            font-family: $popinsFont;
            letter-spacing: 1px;
            border: 1px solid $borderColor;
            margin-right: 40px;
            &:focus {
              outline: -webkit-focus-ring-color auto 0px;
            }
            option {
              height: 50px;
            }
          }
        }
      }
      .col-lg-3 {
        .popular-categories {
          margin-top: 53px;
          font-family: $popinsFont;
          h5 {
            letter-spacing: 1px;
            font-weight: 400;
          }
          ul {
            padding-left: 0px;
            margin-top: 50px;
            li {
              list-style: none;
              border-bottom: 1px solid $borderColor;
              padding-bottom: 10px;
              margin-bottom: 15px;
              width: 94%;
              input[type="checkbox"] {
                appearance: none;
                background-color: $hoverColor !important;
                margin-right: 15px;
                width: 25px;
                height: 25px;
                border-radius: 4px;
                margin-bottom: -6px;
                position: relative;
                &:focus {
                  outline: none;
                }
                &:checked {
                  &::after {
                    display: block;
                  }
                }
                &::after {
                  content: "\f00c";
                  position: absolute;
                  font-weight: 900;
                  font-family: "Font Awesome 5 Free";
                  color: $responsiveBg;
                  font-size: 13px;
                  margin-left: 6px;
                  margin-top: 2px;
                  display: none;
                }
              }
            }
          }
        }
        .price-filter {
          margin-top: 120px;
          h5 {
            font-family: $popinsFont;
            letter-spacing: 1.5px;
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 30px;
          }
          input {
            width: 94%;
            appearance: none;
            border: none;
            background: $hoverColor;
            border-radius: 15px;
            height: 10px;
            cursor: pointer;
            margin-bottom: 70px;
            &:focus {
              outline: none;
            }
            &::-webkit-slider-thumb {
              appearance: none;
              background: $orange;
              box-shadow: 0px 1px 26px -5px rgba(0, 0, 0, 0.65);
              width: 25px;
              height: 25px;
              border-radius: 50%;
            }
          }
          a {
            @include generalBtn;
            &::before {
              background: $hoverColor;
            }
            &:hover {
              color: black;
            }
          }
          p {
            font-family: $handWritingFontTwo;
            font-family: $handWritingFont;
            display: inline-block;
            margin-left: 30px;
            font-weight: 700;
            font-size: 18px;
            span {
              margin-left: 7px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #products {
    .container-fluid {
      .col-lg-3 {
        .popular-categories {
          width: 70%;
          margin: 0 auto;
          h5 {
            margin-top: 30px;
          }
        }
        .price-filter{
          width: 70%;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #products {
    .container-fluid {
      .col-lg-3 {
        .popular-categories {
          width:39%;
          margin: 0 auto;
          display: inline-block;
          margin-left: 100px;
          h5 {
            margin-top: 30px;
          }
        }
        .price-filter{
          width: 38%;
          margin: 0 auto;
          display: inline-block;
        }
      }
    }
  }
}
