$popinsFont : 'Poppins', sans-serif;
$robotoFont: 'Roboto', 'sans-serif';
$handWritingFont: 'Handlee', cursive;
$handWritingFontTwo:"Just Another Hand", cursive;
$hoverColor: #f1efeb;
$responsiveBg: #3c6a36;
$orange:#eda407;
$borderColor: #d7d7d7;
$bgOverlay:rgba(36, 36, 36, 0.46);
$boxShadow:1px 0px 17px -4px rgba(0,0,0,0.15);